<h2>Word Puzzler!</h2>
<h4>Enter a sentence, and see if someone else can guess it.</h4>
<form action="/results">
  <div class="form-group">
    <label for="sentence">Please enter a sentence to puzzle:</label>
    <input id="sentence" name="sentence" class="form-control" type="text">
    </div>
  <button type="submit" class="btn btn-info">Send</button>
</form>
